@font-face {
    font-family: Thimes New Roman, serif;
    src: url("../fonts/pfbulletinsanspro-medium-webfont.eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Thimes New Roman, serif;
    src: url("../fonts/pfagoraslabpro-bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}